.Rproj.user
.Rhistory
core*
*.nfs*
log/*
extern/template/*
input/sia_coverage.csv
input/wiise_coverage.csv
output*
input/wpp/WPP2022_DeathsBySingleAgeSex_Medium_1950-2021.csv
input/wpp/WPP2022_DeathsBySingleAgeSex_Medium_2022-2100.csv
input/wpp/WPP2022_Population1JanuaryBySingleAgeSex_Medium_1950-2021.csv
input/wpp/WPP2022_Population1JanuaryBySingleAgeSex_Medium_2022-2100.csv
extern/cases_and_deaths_estimates_2022.csv
extern/cases_and_deaths_estimates_no_vaccination_2022.csv
input/literacy_female.csv
input/literacy_female_15_24.csv
input/literacy_male.csv
input/literacy_male_15_24.csv
extern/template_measles.csv
extern/template_polio_income.csv
extern/template_polio_region.csv
